*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container{
    width: 1200px;
    margin: 0 auto;
    border: 1px solid black;
}

header{
    text-align: center;
}

header h1{
    color: rgb(212, 71, 104);
    padding: 20px 20px 35px 20px;
}

.clearfix{
    clear: both;
    content: "";
    display: table;
}

.container .row{
    width: 100%;
}

.row .col{
    float: left;
    border: 1px solid red;
    width: calc(100%/3);
}
