*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h2,h3,h4,h5{
    padding-bottom: 5px;
}

.container{
    width: 960px;
    margin: 0 auto;
}

header{
    text-align: center;
}

header h1{
    color: rgb(212, 71, 104);
    padding: 20px 20px 35px 20px;
}

.clearfix{
    clear: both;
    content: "";
    display: table;
}

.container .row{
    width: 100%;
    padding-top: 40px;
}

.row .col{
    float: left;
    width: calc(100%/3);
}

.row .col img{
    height: 90px;
    float: left;
}

.col .col-items{
    background-color: black;
    float: left;
    padding: 10px;
    color: white;
    width: calc(100% - 90px);
    height: 90px;
}
.col .col-items div{
    color: rgb(68, 109, 197);
}

.row .col:nth-child(1){
    padding-right: 30px;
}

.row .col:nth-child(2){
    padding-right: 30px;
}


